

<div class="submain ">

  <div class="card">
    <img class="card-img-top cimg " src="../assets/img/maredu.jpg" alt="Maredumilli">
    <div class="card-body">
      <h4 class="card-title">Maredumilli</h4>
      <h6 class="card-subtitle mb-2 text-muted"> Maredumilli Mandal in East Godavari district in the state of Andhra Pradesh</h6>
      <p class="card-text">Jalatarangini Waterfalls.
  Swarnadhara and Rampa waterfalls.
  Karthikavanam and the Vali Sugriva Medicinal Plants Conservation Area.
  Madanikunj-Vihara Sthal.
  Jungle Star. </p>
      <a href="#" class="card-link">Read More</a>
    <a href="#" class="card-link">directions</a>
      
    </div>
  </div>
  </div>
  
  <div class="submain ">
  
  <div class="card">
    <img class="card-img-top cimg" src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/bologna-1.jpg" alt="Bologna">
    <div class="card-body">
      <h4 class="card-title">Bologna</h4>
      <h6 class="card-subtitle mb-2 text-muted">Emilia-Romagna Region, Italy</h6>
      <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
      <a href="#" class="card-link">Read More</a>
      <span class="material-icons">
  directions
  </span>
  <span class="material-icons-outlined">
  directions
  </span>
  <a href="https://www.google.com/maps/dir//Maredumilli+Andhra+Pradesh+533295/@17.5983355,81.7135475,14z/data=!4m8!4m7!1m0!1m5!1m1!1s0x3a373b673b8e73f3:0x1909145907cea2cf!2m2!1d81.7135475!2d17.5983355" ><span class="material-icons">
  directions
  </span> <br> directions</a>
    </div>
  </div>
  </div>