
<div class="container">
  <div class="row p-3" >
    <div class="col-3 col-sm-2 text-center box" style="font-size: small;">
      <img class="card-img-top p-2 rounded-circle "style="border-radius: 1em;" src="../assets/img/ambulance.png" alt="Card image cap">
      <b>Ambulance</b> 
       </div>
       <div class="col-3 col-sm-2  text-center box" style="font-size: small;">
        <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/blood-test.png" alt="Card image cap">
        
        <b>BloodTest</b>
      </div>
      <div class="col-3 col-sm-2 text-center box" style="font-size: small;">
        <img class="card-img-top p-2 rounded-circle "style="border-radius: 1em;" src="../assets/img/engineering.png" alt="Card image cap">
         Construction Service
       </div>
       <div class="  col-3 col-sm-2  text-center box" style="font-size: small;">
        <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/delivery.png" alt="Card image cap">
       
       <b>DoorSteps</b>
        </div>
        <div class="  col-3 col-sm-2  text-center box" style="font-size: small;">
          <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/services1.png" alt="Card image cap">
          Educational Services
       </div>
 <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
     <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/food.jpg" alt="Card image cap">
  Fabrication Services
    </div>
    <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
      <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/food.png" alt="Card image cap">
     <p>Food</p>
       </div>
      <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
      <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/hospital.png" alt="Card image cap">
      <b>Hospitals</b>
       </div>
       <div class="  col-3 col-sm-2 text-center box " style="font-size: small;">
        <img class="card-img-top p-2  rounded-circle" style="border-radius: 1em;" src="../assets/img/software.png" alt="Card image cap">
           IT Services
          </div>
       <div class="  col-3 col-sm-2 text-center box " style="font-size: small;">
      <img class="card-img-top p-2  rounded-circle" style="border-radius: 1em;" src="../assets/img/sanitizer.png" alt="Card image cap">
         
         <b>Sanitization</b>
        </div>
        
      
      <div class="col-3 col-sm-2  text-center box  " style="font-size: small;">
      <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/x-ray.png" alt="Card image cap">
        
        <b>Scanning Center</b>
        </div>
        
 
   
    <div class="  col-3 col-sm-2  text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/service.png" alt="Card image cap">
  ServiceCare
  </div>
  

   
   <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/taxi.png" alt="Card image cap">
     Taxi Services
 </div>
   
    
   
 
  
    <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
    <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/house.png" alt="Card image cap">
   Real Estate Service
     </div>
     
  <div class="  col-3 col-sm-2  text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/worker.png" alt="Card image cap">
  Man Power Service
    </div>
    
   <div class="col-3 col-sm-2  text-center box  " style="font-size: small;">
 <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/hospitals.png" alt="Card image cap">
    Travel Service
   </div>
   <div class="col-3 col-sm-2 text-center box" style="font-size: small;">
     <img class="card-img-top p-2 rounded-circle "style="border-radius: 1em;" src="../assets/img/paint.png" alt="Card image cap">
    Interior Designing Services
    </div>
  
    <div class="  col-3 col-sm-2 text-center box " style="font-size: small;">
   <img class="card-img-top p-2  rounded-circle" style="border-radius: 1em;" src="../assets/img/itservices.png" alt="Card image cap">
    Online Training Services 
 </div>
 
   <div class="col-3 col-sm-2  text-center box" style="font-size: small;">
 <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/healthcare.png" alt="Card image cap">
    Medical Treatment Services
   </div>
   <div class="col-3 col-sm-2  text-center box  " style="font-size: small;">
     <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/hospitals.png" alt="Card image cap">
     Vehicle Rental Services
 </div>
 
  <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/food.jpg" alt="Card image cap">
 Licensing Services
   </div>
   
   <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
    <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/airplane.png" alt="Card image cap">
   Travel Services
     </div>
  
  </div>
  </div>