
<div class="container">
  <div class="row p-3" >
 <div class="col-3 col-sm-2 text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle "style="border-radius: 1em;" src="../assets/img/train2.png" alt="Card image cap">
   Trains
   </div>
  <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/food.jpg" alt="Card image cap">
 <p>Food</p>
   </div>
   <div class="  col-3 col-sm-2 text-center box " style="font-size: small;">
  <img class="card-img-top p-2  rounded-circle" style="border-radius: 1em;" src="../assets/img/itservices.png" alt="Card image cap">
     IT Services
    </div>
    <div class="  col-3 col-sm-2  text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/services1.png" alt="Card image cap">
  ServiceCare
  </div>
  <div class="col-3 col-sm-2  text-center box" style="font-size: small;">
    <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/electricity.jpg" alt="Card image cap">
    Electricity
  </div>
  <div class="col-3 col-sm-2  text-center box  " style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/hospitals.png" alt="Card image cap">
     Covid
    </div>
   <div class="col-3 col-sm-2 text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle "style="border-radius: 1em;" src="../assets/img/train2.png" alt="Card image cap">
   Construction Service
 </div>
   <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/food.jpg" alt="Card image cap">
     Taxi Services
 </div>
   <div class="  col-3 col-sm-2 text-center box " style="font-size: small;">
  <img class="card-img-top p-2  rounded-circle" style="border-radius: 1em;" src="../assets/img/itservices.png" alt="Card image cap">
  SEO Services
  </div>
    <div class="  col-3 col-sm-2  text-center box" style="font-size: small;">
    <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/services1.png" alt="Card image cap">
    Educational Services
 </div>
    <div class="col-3 col-sm-2  text-center box" style="font-size: small;">
   <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/electricity.jpg" alt="Card image cap">
 Advertising Agency
    </div>
  <div class="col-3 col-sm-2  text-center box  " style="font-size: small;">
 <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/hospitals.png" alt="Card image cap">
    Placement Consultants
  </div>
  <div class="col-3 col-sm-2 text-center box" style="font-size: small;">
    <img class="card-img-top p-2 rounded-circle "style="border-radius: 1em;" src="../assets/img/train2.png" alt="Card image cap">
    Website Designing 
     </div>
    <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
    <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/food.jpg" alt="Card image cap">
   Real Estate Service
     </div>
     <div class="  col-3 col-sm-2 text-center box " style="font-size: small;">
    <img class="card-img-top p-2  rounded-circle" style="border-radius: 1em;" src="../assets/img/itservices.png" alt="Card image cap">
  HR Consultancy Service
  </div>
  <div class="  col-3 col-sm-2  text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/services1.png" alt="Card image cap">
  Man Power Service
    </div>
    <div class="col-3 col-sm-2  text-center box" style="font-size: small;">
 <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/electricity.jpg" alt="Card image cap">
 Travel Agents
   </div>
   <div class="col-3 col-sm-2  text-center box  " style="font-size: small;">
 <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/hospitals.png" alt="Card image cap">
    Travel Service
   </div>
   <div class="col-3 col-sm-2 text-center box" style="font-size: small;">
     <img class="card-img-top p-2 rounded-circle "style="border-radius: 1em;" src="../assets/img/train2.png" alt="Card image cap">
    Interior Designing Services
    </div>
   <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
     <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/food.jpg" alt="Card image cap">
  Fabrication Services
    </div>
    <div class="  col-3 col-sm-2 text-center box " style="font-size: small;">
   <img class="card-img-top p-2  rounded-circle" style="border-radius: 1em;" src="../assets/img/itservices.png" alt="Card image cap">
    Online Training Services 
 </div>
 <div class="  col-3 col-sm-2  text-center box" style="font-size: small;">
 <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/services1.png" alt="Card image cap">
 Digital Marketing Services
   </div>
   <div class="col-3 col-sm-2  text-center box" style="font-size: small;">
 <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/electricity.jpg" alt="Card image cap">
    Medical Treatment Services
   </div>
   <div class="col-3 col-sm-2  text-center box  " style="font-size: small;">
     <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/hospitals.png" alt="Card image cap">
     Vehicle Rental Services
 </div>
 <div class="col-3 col-sm-2 text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle "style="border-radius: 1em;" src="../assets/img/train2.png" alt="Card image cap">
   Visa Consultant
   </div>
  <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/food.jpg" alt="Card image cap">
 Licensing Services
   </div>
   <div class="  col-3 col-sm-2 text-center box " style="font-size: small;">
  <img class="card-img-top p-2  rounded-circle" style="border-radius: 1em;" src="../assets/img/itservices.png" alt="Card image cap">
     Loan Service Providers
    </div>
    <div class="  col-3 col-sm-2  text-center box" style="font-size: small;">
  <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/services1.png" alt="Card image cap">
 Winding Services
  </div>
  <div class="col-3 col-sm-2  text-center box" style="font-size: small;">
    <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/electricity.jpg" alt="Card image cap">
  Mobile Application Development
  </div>
  <div class="col-3 col-sm-2  text-center box  " style="font-size: small;">
    <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/hospitals.png" alt="Card image cap">
    Insurance Services
  </div>
  </div>
  </div>