.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* margin-bottom: 30%; */
    background-color: lavenderblush;
    border-radius: 14px;
 }
 .footer li a{
     font-size: 11px;
    color: #747474;
 }
 .footer li:hover{
    border-bottom: 1.5px solid red;
    color:black;
 }
 .footer li a.active{
     color:black;
 }
 .footer li a:hover{
     color: black;
 }