<!-- 
  <div class="container my-4 scrollableDiv">
<div class="carousel-item active ">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="../assets/img/maredu.jpg"
          alt="Card image cap">
          <h4 class="card-title ml-3">Maredimilli</h4>
        <div class="card-body row">
          <div class="col-3">
          <h4>Distance</h4>
        </div>
        <div class="col-6">
          <p> 2 hr 7 min (83.8 km) via rajahmundry-Bhadrachalam Hwy
        </p>
      </div>
      <div class="col-3">
      <span class="material-icons">
        directions
        </span><br>
        <a href="https://goo.gl/maps/sK8suGUycLpBmwyz6">Directions</a>
      </div>
      <div class="col-3">
          <h4>Specials</h4>
          </div>
        <div class="col-4">
          <p>Waterfalls,forest</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4  ">
      <div class="card mb-1">
        <img class="card-img-top img-fluid" src="../assets/img/one.jpg"
          alt="Card image cap">
          <h4 class="card-title ml-3">papikondalu</h4>
          <div class="card-body row">
            <div class="col-3">
            <h4>Distance</h4>
          </div>
          <div class="col-6">
            <p> 2 hr 22 min (74.4 km) via rajahmundry-papikondalu
          </p>
        </div>
        <div class="col-3">
        <span class="material-icons">
          directions
          </span><br>
          <a href="https://goo.gl/maps/KDMpN9U4F2LA3faM8">Directions</a>
        </div>
        <div class="col-3">
            <h4>Specials</h4>
            </div>
          <div class="col-4">
            <p>hills,boating</p>
            </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</div> -->

    
  
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-4 mb-2 mt-3">
      <div class="card h-100 shadow rounded">
        <img class="card-img-top img-fluid p-3" src="../assets/img/maredu.jpg"
          alt="Card image cap">
          <h4 class="card-title text-center ml-3">Maredimilli</h4>
        <div class="card-body row">
          <div class="col-3 p-0 text-center">
          Distance
        </div>
        <div class="col-6">
          <p> 2 hr 7 min (83.8 km) via rajahmundry-Bhadrachalam Hwy
        </p>
      </div>
      <div class="col-3 p-0">
      <span class="material-icons">
        directions
        </span><br>
        <a href="https://goo.gl/maps/sK8suGUycLpBmwyz6">Directions</a>
      </div>
      <div class="col-3  p-0 text-center">
          Specials
          </div>
        <div class="col-4">
          <p>Waterfalls,forest</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mt-3">
      <div class="card h-100 shadow rounded">
        <img class="card-img-top img-fluid p-3" src="../assets/img/one.jpg"
          alt="Card image cap">
          <h4 class="card-title text-center ml-3">papikondalu</h4>
          <div class="card-body row">
            <div class="col-3 p-0 text-center">
              Distance
            </div>
          <div class="col-6">
            <p> 2 hr 22 min (74.4 km) via rajahmundry-papikondalu
          </p>
        </div>
        <div class="col-3 p-0">
        <span class="material-icons">
          directions
          </span><br>
          <a href="https://goo.gl/maps/KDMpN9U4F2LA3faM8">Directions</a>
        </div>
        <div class="col-3  p-0 text-center">
            Specials
            </div>
          <div class="col-4">
            <p>hills,boating</p>
            </div>
      </div>
    </div>
      </div>
      <div class="col-md-4 mb-2 mt-3">
        <div class="card h-100 shadow rounded">
          <img class="card-img-top img-fluid p-3" src="../assets/img/maredu.jpg"
            alt="Card image cap">
            <h4 class="card-title text-center ml-3">Maredimilli</h4>
          <div class="card-body row">
            <div class="col-3 p-0 text-center">
            Distance
          </div>
          <div class="col-6">
            <p> 2 hr 7 min (83.8 km) via rajahmundry-Bhadrachalam Hwy
          </p>
        </div>
        <div class="col-3 p-0">
        <span class="material-icons">
          directions
          </span><br>
          <a href="https://goo.gl/maps/sK8suGUycLpBmwyz6">Directions</a>
        </div>
        <div class="col-3  p-0 text-center">
            Specials
            </div>
          <div class="col-4">
            <p>Waterfalls,forest</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>