<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 ">
  <div class="card h-100 shadow rounded">
    <img class="card-img-top  p-4" src="../assets/img/maredu.jpg"
      alt="Card image cap">
      <h4 class="card-title text-center ml-3">is Hiring</h4>
    <div class="card-body row">
      <div class="col-4 ">
      Position
    </div>
    <div class="col-8 p-0">
      <p>Global Product Support Intern
    </p>
  </div>
  <div class="col-4 ">
    CTC
  </div>
  <div class="col-8 p-0">
    <p>2.7LPA
  </p>
</div>
<div class="col-4 ">
  Degree
</div>
<div class="col-8 p-0">
  <p>Civil/Architecture/Structural
</p>
</div>
<div class="col-4 ">
  Batch
</div>
<div class="col-8 p-0">
  <p>2019/20/21/22
</p>
</div>
<div class="col-4 ">
  Location
</div>
<div class="col-8 p-0">
  <p>Bengaluru
</p>
</div>
<div class="col-12 p-0 text-center">
  <p><b>Click Below Link To Apply</b>
  </p>
</div>
<div class="col-12 p-0 text-center">
  <a href="#" class="card-link">Card link</a>
</div>
    </div>
  </div>
</div>
</div>
</div>
