
<div class="container-fluid">
<div class="loki">
  <div class="card border shadow m-2 " >
  <img  class="card-img-top p-2 mt-3 mx-auto  "  src="../assets/img/oyorooms.png">
  <h2 class="text-center" style="color: lightslategray;">OYO</h2>
  <div class="card-body">
      <div class="card-title text-center">

     </div>
  </div>
</div>

<div class="card border shadow m-2 " >
   <img  class="card-img-top p-2 mt-3 mx-auto "  src="../assets/img/irctc.png">
   <h3 class="text-center" style="color: lightslategray;">IRCTC</h3>
  <div class="card-body">
      <div class="card-title text-center">
         
         
      </div>   
  </div>
</div>

<div class="card border shadow m-2 " >
  <img  class="card-img-top p-2 mt-3 mx-auto " src="../assets/img/puma.png">
  <h3 class="text-center" style="color: lightslategray;">Puma</h3>
  <div class="card-body">
      <div class="card-title text-center">
         
         
      </div>
      

  </div>
</div>
<div class="card border shadow m-2 " >
  <img  class="card-img-top p-2 mt-3 mx-auto " src="../assets/img/redbus.png">
  <h3 class="text-center" style="color: lightslategray;">redBus</h3>
  <div class="card-body">
      <div class="card-title text-center">
         
         
      </div>
      

  </div>
</div>
<div class="card border shadow m-2 " >
  <img  class="card-img-top p-2 mt-3 mx-auto " src="../assets/img/myntra.jpg">
  <h3 class="text-center" style="color: lightslategray;">Myntra</h3>
  <div class="card-body">
      <div class="card-title text-center">
          
         
      </div>
      

  </div>
</div>
<div class="card border shadow m-2 " >
  <img  class="card-img-top p-2 mt-3 mx-auto " src="../assets/img/ola.jpg">
  <h3 class="text-center" style="color: lightslategray;">Olacabs</h3>
  <div class="card-body">
      <div class="card-title text-center">
         
         
      </div>
      

  </div>
</div>
<div class="card border shadow m-2 " >
  <img  class="card-img-top p-2 mt-3 mx-auto " src="../assets/img/makemytrip.png">
  <h3 class="text-center" style="color: lightslategray;">MakeMyTrip</h3>
  <div class="card-body">
      <div class="card-title text-center">
        
      </div>
  </div>
</div>
</div>
</div>