<div class="container-fluid">
<div class="row p-3" >
  <div class="col-3 col-sm-2 text-center box" style="font-size: small;">
   <img class="card-img-top p-2 rounded-circle "style="border-radius: 1em;" src="../assets/img/train2.png" alt="Card image cap">
    Ambulance
    </div>
   <div class=" col-3 col-sm-2 text-center box" style="font-size: small;">
   <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/food.jpg" alt="Card image cap">
   Covid Hospitals
    </div>
    <div class="  col-3 col-sm-2 text-center box " style="font-size: small;">
   <img class="card-img-top p-2  rounded-circle" style="border-radius: 1em;" src="../assets/img/itservices.png" alt="Card image cap">
      Sanitization
     </div>
     <div class="  col-3 col-sm-2  text-center box" style="font-size: small;">
   <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/services1.png" alt="Card image cap">
  DoorSteps
   </div>
   <div class="col-3 col-sm-2  text-center box" style="font-size: small;">
     <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/electricity.jpg" alt="Card image cap">
     BloodTest
   </div>
   <div class="col-3 col-sm-2  text-center box  " style="font-size: small;">
   <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/hospitals.png" alt="Card image cap">
     Scanning Center
     </div>
     </div>
    </div>