<div class="container-fluid">
<div class="row p-3" >
  <div class="col-3 col-sm-2 text-center box" style="font-size: small;">
   <img class="card-img-top p-2 rounded-circle "style="border-radius: 1em;" src="../assets/img/ambulance.png" alt="Card image cap">
   <b>Ambulance</b> 
    </div>
   <div class=" col-6 col-sm-2 text-center box" style="font-size: small;">
   <img class="card-img-top p-2 rounded-circle " style="border-radius: 1em;" src="../assets/img/hospital.png" alt="Card image cap">
   <b>Covid Hospitals</b>
    </div>
    <div class="  col-3 col-sm-2 text-center box " style="font-size: small;">
   <img class="card-img-top p-2  rounded-circle" style="border-radius: 1em;" src="../assets/img/sanitizer.png" alt="Card image cap">
      
      <b>Sanitization</b>
     </div>
     <div class="  col-3 col-sm-2  text-center box" style="font-size: small;">
   <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/delivery.png" alt="Card image cap">
  
  <b>DoorSteps</b>
   </div>
   <div class="col-3 col-sm-2  text-center box" style="font-size: small;">
     <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/blood-test.png" alt="Card image cap">
     
     <b>BloodTest</b>
   </div>
   <div class="col-3 col-sm-2  text-center box  " style="font-size: small;">
   <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/x-ray.png" alt="Card image cap">
     
     <b>Scanning Center</b>
     </div>
     <div class="col-3 col-sm-2  text-center box  " style="font-size: small;">
      <img class="card-img-top p-2 rounded-circle" style="border-radius: 1em;" src="../assets/img/x-ray.png" alt="Card image cap">
        
        <b>Scanning Center</b>
        </div>
     </div>
    </div>